@font-face {
	font-family: "Roboto-Thin";
	src: url("../fonts/roboto/Roboto-Thin.ttf");
}
@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/roboto/Roboto-Regular.ttf");
}
body {
	font-family: Roboto-Regular, sans-serif;
	transition: all 0.5s;
	background-color: #0079bf;
}
.mainCons {
}

.toDoLists {
	width: 20vw;
	margin-right: 1vw;
}

.listItems * {
	cursor: pointer;
}

.listItemEditBtns {
	font-size: 1.3rem;
}

#newListBtn {
	height: fit-content;
}

.btn-newList {
	background: rgba(0, 0, 0, 0.2);
	color: hsla(0, 0%, 80%, 1);
}

.btn-newList:hover {
	background: rgba(0, 0, 0, 0.4);
	color: hsla(0, 0%, 80%, 1);
}

#rightBottomLoadingCircle {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 100px;
	display: none;
}

#fullScreanLoadingBackground {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	opacity: 0;
	transition: all 0.3s;
}

#fullScreanLoadingCircle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}